body, html{
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

body{
	min-height: 100%;
	height: auto !important;
	height: 100%;
	position: relative;
	background: url(images/picjumbo.com_austriaroad2.jpg) no-repeat;
	background-size: 100% 100%;
}

.header {
	height: 4em;
	width: 100%;
	background-color: black;
	opacity: 0.8;
}

.header h1{
	font-family: 'Indie Flower', cursive;
	font-size: 2em;
	text-decoration: none;
	color: white;
	margin: 0 auto;
	padding-left: 600px;
	padding-top: 20px;
}
#authors{
	width: 30%;
	/*float: left;*/
	/*border-right: 1px solid black;*/
}
.klyam{
	float: left;
}
.yarik{
	float: left;
	margin-left: 5%;
}
.bodya{
	float: right;
}

#photo{
	width: 28%;
	max-width: 360px;
	float: left;
	margin-left: 15%;
	margin-right: 15%;
	margin-top: 30px;
}
#photo img{
  	-webkit-transition: all 1s ease;
    -moz-transition: all 1s ease;
    -o-transition: all 1s ease;
    -ms-transition: all 1s ease;
    transition: all 1s ease;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    border-radius: 50%;
    border: 3px solid black;
}
.bio{
	width: 28%;
	max-width: 360px;
	margin: 0 auto;
	/*margin-top: 5%;*/
}
.bio h2{
	font-size: 2em;
	font-weight: lighter;
	/*padding-left: 40px;*/
	text-align: center;
	color: black;
	font-family: 'Poiret One', cursive;
}
.bio p{
	font-size: 1.4em;
	font-weight: lighter;
	/*padding-left: 40px;*/
	text-align: center;
	color: white;
	font-family: 'Poiret One', cursive;
}
.footer {
	height: 100px;
	width: 100%;
	position: absolute;
	bottom: 0;
	background-color: black;
	opacity: 0.8;
	display: block;
	text-align: center;
}

.footer ul{
	list-style: none;
	margin-bottom: 0;
}
.navigation{
	/*width: 100%;*/
	margin-right: auto;
	margin-left: auto;
}
.footer li{
	display: inline-block;
	padding: 20px;
}
.footer li a{
	text-decoration: none;
	text-align: -webkit-match-parent;
	font-family: 'Poiret One', cursive;
	font-size: 1.2em;
	color: white;
}
.footer li a:hover{
	color: grey;
	border-bottom: 1px solid white;
}
.footer li.active a{
	border-bottom: 1px solid white;
}